@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #eee4ea;
}
input:focus {
    outline: none; 
}
/* For Chrome, Safari, Edge */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.disabled {
  pointer-events: none; 
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for other browsers (like Firefox) */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
